<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esp Customs OAuth - Demo</title>

  <style>
    body {
      font-family: 'Calibri Light', Courier, monospace;
    }
    header,
    nav {
      margin: 10vh 10vw;
    }
    nav a {
      margin-right: 10px;
      text-decoration: none;
    }

    img {
      border-radius: 15px;
      height: 64px;
      width: 64px;
    }
  </style>
</head>
<body>
  <header>
    <h1>User</h1>
    <div>
      <% if (user) { %>
        <img class="avatar" src="<%= user.displayAvatarURL %>">
        <h2 class="username"><%= user.tag %></h2>
      <% } else { %>
      <span class="username">Sin iniciar sesión</span>
      <% } %>
    </div>
    <div>
      <strong>Guilds:</strong>
      <span class="username"><%= (guilds) ? guilds.map(g => g.name).join(', ') : 'N/A' %></span>
    </div>
  </header>

  <nav>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
  </nav>
</body>
</html>